<div class = "container mt-5">
    <h1>Welcome!</h1>
    <h5 class="ml-2">To the Bullock and Star Hardware Company</h2> 
    <hr>
    <h2>Featured Products</h2>
    <section class="row justify-content-center">
        <% @featured.each do |feature| %>
            <%= render partial: 'products/product_card', 
                locals: {product: feature } %>
        <% end %>
    </section>
<div>
