<h5 class="ml-2">Bullock and Star Hardware Company</h5> 
<hr>
<h2>Featured Products</h2>
<section class="row justify-content-center">
    <% @featured.each do |feature| %>
        <%= render partial: 'products/product_card', 
            locals: {product: feature } %>
    <% end %>
</section>

