<h1>Search Results</h3>
 <%= paginate @search_results, window: 1 %>
<div class="row">
    <% @search_results.each do |result| %>
         <%= render partial: 'products/product_card', 
                    locals: {product: result } %>
    <% end %>
</div> 