/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'bootstrap';

$main: rgb(114, 60, 16);
$main-dark: rgb(53, 28, 7);
$main-light: rgba(209, 152, 106, 0.705);
$title-font: 'IM Fell Great Primer SC', serif;
$main-font: 'Vesper Libre', serif;

.navbar{
    background-color: $main;
    font-family: $title-font;

    min-height: 6vh;

    a, a:link, a:visited{
    color:white;
    }

    a:hover{
        color: $main-light;
    }
 }

 .d-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: .5em;
    grid-row-gap: 3px;
    justify-content: center;

    margin-left: .5em;
    margin-right: .5em;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card{
        max-height: 50vh;
    }
}



 .main{
     background-color: $main-light;
     font-family: $main-font;
     color: $main-dark;

     h1,h2,h3,h4,h5,h6{
         font-family: $title-font;
     }
 }
 