<div class = "container mt-5">
    <h1>Products</h1>
    <%= render partial: 'components/breadcrumb' %>
    <%= paginate @products, window: 1 %>
    <div class="row justify-content-center">
    <% @products.each do |product| %>
        <%= render partial: 'products/product_card', 
                locals: {product: product } %>
    <% end %>
    </div>
<div>


